* {
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(37, 37, 37);
}
.modelContainer {
  display: none;
}

#canvas {
  display: flex;
  margin: 3em auto;
  margin-bottom: 0;
  border: 9px solid purple;
  background-image: url('/assets/backgroundImage.png');
}

.playerLives {
  display: inline-block;
  position: absolute;
  top: 15em;
  left: 32%;
  font-size: 40px;
  font-family: Impact;
  color: white;
  user-select: none;

  li {
    display: none;
    img {
      height: 40px;
      width: 30px;
    }
  }
}

#menu{
  display: inline-block;
  position: fixed;
  width: 18em;
  margin: -25em calc(50% - 20em/2);
  border: 3px solid black;
  border-radius: 2em;
  
  background: gray;
  padding: 2em;
  font-family: Verdana;
  h2{
    text-align: center;
  }
  h4{
    text-align: center;
  }
  #startButton{
    margin: 1em calc(50% - 10em/2);
    width: 10em;
    padding: .3em;
    border-radius: 2em;
    font-family: Impact;
  }
}
