<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS Links -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/base.css">

    <title> Farming Game! </title>
</head>
<body>
    <div class="navbar-container">
        <ul class="navbar-links">
            <li><a href="/"> Home </a></li>
            <li><a id="instructions" href="/how-to-play"> How to Play </a></li>
        </ul>
        
        {% if user.is_authenticated %}
        <div class="account-settings">
            <a href="/account-settings"> Account </a>
        </div>
        {% else %}
        <ul class="auth-links">
            <li><a href="/sign-up"> Sign Up </a></li>
            <li><a href="/login"> Log In </a></li>
        </ul>
        {% endif %}
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}                    <!-- Jinja statement templates, these statements check to see if the 'flash()'        -->
      {% if messages %}                                                                 <!-- function has been called, gathers the associated messages into a list, and then  -->
        {% for category, message in messages%}                                          <!-- displays them as Bootstrap CSS divs directly below the navbar. The color of the  -->
          {% if category == 'error' %}                                                  <!-- message that gets flashed is determined by its assigned category, as well as the -->
          <div class="alert alert-danger alert-dismissable fade show" role="alert">     <!-- Bootstrap classes 'alert-danger' and 'alert-success'.                            -->
            {{ message }}                                                               <!-- NOT ORIGINALLY MY CODE - This code was provided by the YouTube channel named    -->
            <button type="button" class="close" data-dismiss="alert">                   <!-- 'Tech With Tim', during his flask tutorial at this timestamp provided below:     -->
              <span aria-hidden="true" >&times;</span>                                  <!-- https://youtu.be/dam0GPOAvVI?t=3799                                              -->
            </button>
          </div>
          {% else %}
          <div class="alert alert-success alert-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true" >&times;</span>
            </button>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
    
    <!-- Bootstrap CSS Scripts -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

</body>
</html>